html {
font-family: fantasy;
size-adjust: 200%;
}

#Center {

text-align: center;

}

body {

    background-color: aquamarine;
}

div {
margin:auto;
background-color: rgb(247, 0, 255);
width: 33%;
padding: 10px;
border-radius: 50px;

}

#bordered {
    border: 10px rgb(0, 0, 0);
    border-style: solid;
    text-align: center;

}